name: PyTest

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  unit:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov pytest-html requests

      - name: Run unit tests + reports
        run: |
          mkdir reports
          pytest -m unit --junitxml=reports/junit.xml --cov=src --cov-report=term-missing --cov-report=html --html=reports/report.html --self-contained-html

      - name: Upload reports
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: |
            reports
            htmlcov

  integration:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov pytest-html pytest-advance requests

      - name: Run integration tests
        run: |
          pytest -m integration -q